accelerate==1.4.0
datasets==3.1.0
flash_attn==2.6.3
httpcore==1.0.7
httptools==0.6.4
httpx==0.28.1
huggingface-hub==0.26.2
latex2sympy2
latex2sympy2_extended
math-verify==0.6.0
ninja==1.11.1.2
nltk==3.9.1
numpy==1.26.4
pandas==2.2.3
peft==0.14.0
pillow==10.4.0
safetensors==0.4.5
scikit-learn==1.6.0
scipy==1.14.1
sympy==1.13.1
tiktoken==0.7.0
tokenizers==0.21.0
torch==2.5.1
torchaudio==2.5.1
torchvision==0.20.1
transformers==4.48.3
triton==3.1.0
trl==0.14.0
vllm==0.7.2
wandb==0.19.6
wheel==0.44.0
xformers==0.0.28.post3
